# SSA Defaults

_extraResources
addons/
app.asar/addons
app.asar/assets
app.asar/config
app.asar/node_modules
app.asar/public
app.asar/main.js
app.asar/package.json
assets/

autoConfiguration.json

# NPM Packages
node_modules/

# OS Files
desktop.ini
.DS_Store

# Editor Files
.vscode/
