.acs-behaviour-control-pls-status-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acs-behaviour-control-pls-status-page p {
  font-family: sans-serif;
}

.acs-bc-pls-status-page-pls-description {
  margin-top: 0.5rem;
  max-width: 80%;
  opacity: 0.35;
  font-size: small;
  text-align: center;
}

.acs-bc-pls-status-page-main-logo {
  max-width: 11%;
  opacity: 0.45;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.acs-bc-psp-operations-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.acs-bc-psp-operations-container.acs-bc-psp-oper-ctnr-hidden {
  display: none;
}

.acs-bc-psp-operation-btn {
  --svg-color: rgb(17, 140, 255);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 0.75rem;
  margin-right: 0.75rem;

  transition: opacity 0.25s, color 0.5s;
}

.acs-bc-psp-operation-btn p {
  font-size: normal;
  margin-left: 5px;
  margin-top: -1px;
  color: var(--svg-color);
}

.acs-bc-psp-operation-btn svg {
  max-width: 16px;
  max-height: 16px;
}

.acs-bc-psp-operation-btn.acs-bc-psp-o-btn-dangerous {
  --svg-color: rgb(244, 8, 8);
}

.acs-bc-psp-operation-btn[aura-disabled="true"] {
  --svg-color: rgba(0, 0, 0, 0.25);
}

.acs-bc-psp-operation-btn[aura-disabled="true"]:hover,
.acs-bc-psp-operation-btn[aura-disabled="true"]:active {
  cursor: not-allowed !important;
  opacity: 1 !important;
}

.acs-bc-psp-operation-btn:hover,
.acs-bc-psp-operation-btn:active {
  cursor: pointer;
}

.acs-bc-psp-operation-btn:hover {
  opacity: 0.6;
}

.acs-bc-psp-operation-btn:active {
  opacity: 0.3;
}

.acs-bc-psp-download-progress-area {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.acs-bc-psp-download-progress-area.acs-bc-psp-dl-pbar-hidden {
  display: none;
}

.acs-bc-psp-download-progress-area .progress {
  height: 2px;
  width: 80%;
  margin-bottom: 0.6rem;
}

.acs-bc-psp-download-progress-area .progress-bar {
  transition: all 0.15s;
}

.acs-bc-psp-download-progress-area #acsBcPspDownloadPbarDesc {
  opacity: 0.6;
  margin-bottom: 0.25rem;
}

.acs-bc-psp-download-progress-info-area {
  display: flex;
}

.acs-bc-psp-download-progress-info-area .acs-bc-psp-operation-btn {
  margin-left: 1rem;
  margin-bottom: 0.25rem;
}

.acs-bc-psp-download-progress-info-area .acs-bc-psp-operation-btn.hidden {
  display: none;
}

.acs-bc-psp-download-progress-info-area .acs-bc-psp-operation-btn svg {
  margin-top: 1px;
}

.acs-bc-pls-status-page-status-el {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 0.625rem 0.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.acs-bc-pls-status-page-status-el div {
  display: flex;
  align-items: center;
}

.acs-bc-pls-status-page-status-area {
  flex-grow: 1;
  justify-content: flex-end;
}

.acs-bc-pls-status-page-status-area-circle {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-right: 8px;
  margin-top: 2px;
}

.acs-bc-pls-status-page-status-area.pending
  .acs-bc-pls-status-page-status-area-circle {
  background-color: rgba(0, 0, 0, 0.375);
}

.acs-bc-pls-status-page-status-area.pending p {
  opacity: 0.5;
}

.acs-bc-pls-status-page-status-area.success
  .acs-bc-pls-status-page-status-area-circle {
  background-color: rgb(0, 175, 38);
}

.acs-bc-pls-status-page-status-area.success p {
  color: rgb(0, 150, 33);
}

.acs-bc-pls-status-page-status-area.failed
  .acs-bc-pls-status-page-status-area-circle {
  background-color: rgb(175, 0, 0);
}

.acs-bc-pls-status-page-status-area.failed p {
  color: rgb(175, 0, 0);
}

.acs-bc-pls-status-page-status-area.warning
  .acs-bc-pls-status-page-status-area-circle {
  background-color: rgb(212, 127, 0);
}

.acs-bc-pls-status-page-status-area.warning p {
  color: rgb(212, 127, 0);
}

.acs-bc-pls-status-page-status-area.info
  .acs-bc-pls-status-page-status-area-circle {
  background-color: #3d78ff;
}

.acs-bc-pls-status-page-status-area.info p {
  color: #3d78ff;
}

.acs-bc-psp-toast.body-display-none .toast-body {
  display: none;
}

.acs-bc-psp-toast.body-display-none .toast-header {
  border-bottom: none;
}

.acs-bc-psp-toast[closable="false"] .btn-close {
  display: none;
}

.acs-bc-psp-toast[variant="success"] .toast-header {
  background-color: rgb(6, 196, 65);
  color: rgb(255, 255, 255);
}

.acs-bc-psp-toast[variant="warning"] .toast-header {
  background-color: rgb(225, 178, 44);
  color: rgb(255 255 255);
}

.acs-bc-psp-toast[variant="error"] .toast-header {
  background-color: rgb(217, 57, 4);
  color: rgb(255 255 255);
}

.acs-bc-psp-toast[variant="info"] .toast-header {
  background-color: rgb(0, 149, 222);
  color: rgb(255 255 255);
}

.acs-bc-psp-toast[variant="success"] .btn-close,
.acs-bc-psp-toast[variant="warning"] .btn-close,
.acs-bc-psp-toast[variant="error"] .btn-close,
.acs-bc-psp-toast[variant="info"] .btn-close {
  color: rgb(255, 255, 255);
  filter: invert(1);
  opacity: 0.95;
}
