.aura-header-icon {
  float: right;
  height: 40px;
  -webkit-app-region: no-drag;
  position: relative;

  transition: opacity 0.25s;
}

#root.aura-header-icon-hidden .aura-header-icon {
  display: none;
}

.aura-header-icon:hover {
  opacity: 0.75;
}

.aura-header-icon:active {
  opacity: 0.375;
}

.aura-header-icon img {
  width: 20px;
  height: 20px;
  margin: 10px 0 8px 8px;
  vertical-align: middle;
}
